
@font-face {
    font-family: 'font';
    src: url('../Assests/Fonts/Henry.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.fontload {
    visibility: hidden;
    position: absolute;
    left: -9999px;
    font-family: 'font', ui-serif;
}